<% @features.each do |feature| %>
  <div class="feature-checkbox">
    <label>
    <%= check_box_tag("features[]",
          feature.id,
          @selected_features.include?(feature.id.to_s),
          ) %>
          <%= feature.name.capitalize %>
    </label>
  </div>
<% end %>
