<div class="form map-form">
  <%= form_tag("/search/" + @location.id.to_s, method: "get", class: "form") do %>

    <% Feature.all do |feature| %>
      <%= label_tag(feature.name, feature.name.capitalize) %>
      <%= check_box_tag("features[]",
            feature.name,
            @features.include?(feature.name)
          ) %>
    <% end %>


    <%= submit_tag("Search", class: "btn btn-default") %>
  <% end %>
</div>