<div class="form map-form">
  <% if @location.nil? %>
    <% url, method, submit_text = "/hospitals", "POST", "Create Hospital"%>
  <% else %>
    <% url, method, submit_text = "/search/" + @location.id.to_s, "GET", "Search"%>
  <% end %>
  <%= form_tag(url, method: method, class: "form") do %>

    <% Feature.all do |feature| %>
      <%= label_tag(feature.name, feature.name.capitalize) %>
      <%= check_box_tag("features[]",
            feature.name,
            @features.include?(feature.name)
          ) %>
    <% end %>


    <%= submit_tag(submit_text, class: "btn btn-default") %>
  <% end %>
</div>