<h1 class="heading">Hospitals</h1>

<div class="form map-form">
  <%= form_tag("/search/" + @location.id.to_s, method: "GET", class: "form") do %>
  <br />
  <%= render "features_check_boxes" %>


    <br />

    <%= submit_tag("Search", class: "btn btn-default") %>
  <% end %>
</div>


<%= render "map" %>
