<% if current_user.try(:admin?) %>
    <%= render "features_filter" %>
<% else %>
  <h3>Must be admin to view this page</h3>
  <%= link_to "Return Home", current_user, class: "btn btn-link" %>
<% end %>
