// Place all the styles related to the hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #map-canvas { height: 800px; margin: 0px; padding: 0;}
